# System and IDE files
Thumbs.db
.DS_Store
.idea
*.suo
*.sublime-project
*.sublime-workspace
.breakpoints
.replit

# Vendors
node_modules/

# Build
dist/
dist-server/
/npm-debug.log
package-lock.json

config.json
.env
yarn.lock
