<style>

/* Design */
*,
*::before,
*::after {
  box-sizing: border-box;
}


.body {
  color: #272727;
  font-family: 'Quicksand', serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  align-items: center;
}

.main{
  max-width: 1200px;
  margin: 0 auto;
  min-height: 90%;
}

h1 {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.card_image {
  background-color: lime;
}

.btn {
  color: #ffffff;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 1rem;
}

@media (min-width: 60rem) {
  .cards_item {
    width: 20%;
  }
}


@media (min-width: 40rem) {
  .cards_item {
    width: 40%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 23.3333%;
  }
}

.card {
  background-color: white;

  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card_content {
  padding: 1rem;
  text-align: center;
  background: linear-gradient(to bottom left, #0a3e0a 5%, green 100%);
}

.card_title {
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.card_text {
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;    
  font-weight: 400;
}

a {
  font-size: 10em !important;
}

</style>
<div class="body" >
    <div class="main" style="background-color: black;">

        <br/>
        <h1 style="color: white; font-size: xx-large;">Skins (beta)</h1>
      
        <br>
       <div id="skins" style="display: none;">
        <ul class="cards">
      
            <% cosmetics.skins.forEach(function(skin) { %>
        
          <li class="cards_item">
            <div class="card">
              <div class="card_image"><center><img src="<%= skin.url %>"></center></div>
              <div class="card_content">
                <h2 class="card_title"><%= skin.name %><i class="fa-solid fa-circle-xmark"></i></h2>
                <p class="card_text"><%= skin.description %></p>
                <button class="btn card_btn">BUY</button>
              </div>
            </div>
          </li>
         <% }) %>
  
        </ul>
      </div>
<div style="color: white;" id="login">
  <h1>Please log in or sign up to get skins.</h1>
</div>
<div  id="yt">
  <h1 style="color: white; ">Subscribe to the YouTube Channel to access skins!</h1>
  <br>
  <center><a target="_blank" style="color: red; font-size: 10em !important;" href="https://www.youtube.com/channel/UCOsM1dmWnI7fmvgkShMmyfA?sub_confirmation=1"><h1>Subscribe</h1></a></center>
  <br>

</div>
        <center><button id="closeShop" style="font-size: xx-large;">Close</button></center>
      </div>
      
    
  </div>
