.errorbackground,
.homebackground {
  background-color: rgb(128, 217, 128);
  border-radius: 10px;
  padding: 0px 20px 20px 20px;
  text-align: center;
  
}

.errorbackground {
  background-color: rgb(255, 128, 128);
  max-width: 60%;
  
  
}
.deathbox {
  
  background-color: #90EE90;
  border-style:none;
  
  
  padding: 0px 20px 20px 20px;
  max-width: 80%;
}

.errorbtn,
.playbtn,
.dedbtn{
  --primary-color: #4caf50;
  --primary-color-hover: #328f36;
  pointer-events: auto;
  font-family: 'Franklin Gothic Medium', Arial, sans-serif;
  background-color: var(--primary-color);
  color: #fff;
  display: block;
  margin: 20px auto 10px;
  padding: 5px 20px;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  font-size: 160%;
  
}

.errorbtn {
  --primary-color: #f44336;
  --primary-color-hover: #c62828;
}
.dedbtn {
  --primary-color: #f44336;
  --primary-color-hover: #c62828;
}

.errorbtn:hover,
.playbtn:hover,
.dedbtn:hover{
  background-color: var(--primary-color-hover);
}

.namebox {
  --primary-color: #4caf50;
  --primary-color-hover: #328f36;
  pointer-events: auto;
  font-family: 'Franklin Gothic Medium', Arial, sans-serif;
  border: 0;
  padding: 3px 6px;
  display: block;
  margin: 0 0 10px;
  font-size: 220%;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 20px;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.titletext {
  font-family: 'Hind Madurai', Arial, sans-serif;
  font-size: 300%;
  text-align: center;
}

@media screen and (max-width: 800px) {
  .titletext {
    font-size: 200%;
  }
  .namebox {
    font-size: 160%;
  }
  .playbtn {
    font-size: 120%;
  }
}

@media screen and (max-width: 500px),
       screen and (max-height: 420px)
{
  .titletext {
    font-size: 150%;
    padding: 10px;
    padding-bottom: 0px;
    margin: 0;
  }
  .namebox {
    font-size: 120%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .playbtn {
    font-size: 100%;
    margin-top: 10px;
    margin-bottom: 0px;
  }
}


/* 
  cursor: not-allowed;
  background-color: lightgray;
 */