:root {
  --primary-color: #4caf50;
  --primary-color-hover: #328f36;
}

body {
  overflow: hidden;
  padding: 0px;
  margin: 0px;
  cursor: url('https://i.imgur.com/HAB0A1i.png') 20 20, crosshair;
  font-size: 16px;
  font-family: 'Franklin Gothic Medium', Arial, sans-serif;
}

#swordbattle-io_970x250 > div,
#swordbattle-io_970x90 > div {
  width: 0px !important;
  height: 0px !important;
}

iframe:not(#swordbattle-io_970x250 > iframe):not(#swordbattle-io_970x90 > iframe):not(#swordbattle-io_970x90 > div > iframe):not(#swordbattle-io_970x250 > div > iframe) {
  width: 100%;
  height: 100%;
}
iframe{
    position: absolute;
  z-index: 1000;

}

canvas {
  top: -400px;
}

h1,
h2 {
  margin: 0 0 20px;
  font-family: 'courier new', courier;
  color: #fff;
  font-size: 200%;
}

h2 {
  font-size: 150%;
}

ul,
li {
  color: #fff;
  margin: 0;
  padding: 0;
  line-height: normal;
}

li {
  margin-bottom: 10px;
}

/* Whats new modal. */

.whats-new-layer {
  text-align: center;
}

.whats-new-layer h1 {
  margin-top: 20px;
}

.whats-new-layer li {
  font-weight: bold;
  list-style: none;
  font-size: 120%;
}

.primary-link {
  color: lime;
  font-size: 120%;
  font-weight: bold;
  display: inline-block;
  margin: 20px auto;
}

.badge {
  display: none;
}

/* Game title and start button */

@keyframes slide {
  0% {
    top: -325px;
  }
}

.title {
  font-family: courier, cursive;
  font-size: 130px;
  color: rgb(0, 0, 0);
  animation-name: slide;
  animation-duration: 1s;
}

.form {
  position: absolute;
  margin: 0px;
  top: 45%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-60%);
  -webkit-transform: translateX(-50%) translateY(-60%);
  transform: translateX(-50%) translateY(10%);
}

.name-field {
  font-size: 220%;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 20px;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: 768px) {
    font-size: 120%;
  }
}

#play-btn {
  border-radius: 10px;
  border: none;
  font-size: 160%;
}

/* Logged in user */

.loggedin {
  cursor: not-allowed;
  background-color: lightgray;
}

.loggedin::selection {
  color: black;
}

.dropdown {
  position: absolute;
  margin: 0px;
  top: -0.5%;
  left: 0%;
  -moz-transform: translateX(0%) translateY(5%);
  -webkit-transform: translateX(0%) translateY(5%);
  transform: translateX(0%) translateY(5%);
}

/* Form fields */

input,
button,
select {
  font-size: 18px;
  font-family: 'Franklin Gothic Medium', Arial, sans-serif;
  border: 0;
  padding: 3px 6px;
  border-radius: 3px;
}

select {
  width: 100%;
  padding: 3%;
}

label {
  color: #fff;
  display: block;
  margin-bottom: 3px;
}

button[type='submit'] {
  background-color: var(--primary-color);
  color: #fff;
  font-size: 120%;
  display: block;
  margin: 20px auto 10px;
  border-radius: 10px;
  padding: 5px 20px;
  cursor: pointer;
}

button[type='submit']:hover {
  background-color: #ffffff;
  color: var(--primary-color);
}

input,
select {
  display: block;
  margin: 0 0 10px;
}

input:focus,
select:focus {
  border: 0;
  outline: 0;
}

/* Modals */

.modal-container {
  cursor: default;
  padding: 15px 30px;
  background-color: #000000;
  position: relative;
  border-radius: 10px;
}

.modal-close-button {
  position: absolute;
  top: 0;
  right: 0;
  appearance: none;
  background-color: #000;
  border: 2px solid #fff;
  height: 30px;
  line-height: normal;
  border-radius: 20px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -15px;
  right: -15px;
  cursor: pointer;
  transform: rotate(0deg);
  transition: all 0.2s linear;
}

.modal-close-button:hover {
  transform: rotate(180deg);
}

.modal-close-button::before,
.modal-close-button::after {
  content: ' ';
  display: block;
  width: 10px;
  height: 2px;
  background-color: #fff;
  transform: rotate(45deg);
  margin: 0 auto;
  position: absolute;
}

.modal-close-button::after {
  transform: rotate(-45deg);
}

.modal-close-button span {
  display: none;
}

#settings-pop-up {
  padding-bottom: 15px;
}

/* Profile Dropdown Menu */

#username-area {
  right: 0 !important;
  left: auto !important;
  transform: none !important;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin: 10px 20px 0 0;
}

@media screen and (max-width: 768px) {
  .dropdown {
    margin: 10px 10px 0 0;
  }
}

.username-text {
  font-size: 16px;
}

@media screen and (min-width: 320px) {
  .username-text {
    font-size: 20px;
  }
}

@media screen and (min-width: 768px) {
  .username-text {
    font-size: 32px;
  }
}

#username {
  display: inline-block;
  max-width: 320px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 320px) {
  #username {
    max-width: 100px;
  }
}

/* Don't show userrname text.  */
@media screen and (max-width: 220px) {
  #username {
    display: none;
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
  border-radius: 16px;
}

@media screen and (max-width: 989px) {
  .dropdown-content {
    right: 0;
  }
}

.dropdown-content button {
  width: 100%;
  background: white;
  border: none;
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: 18px;
  margin-bottom: 15px;
}

.dropdown-content button:last-child {
  margin-bottom: 0;
}

.dropdown-content button em {
  margin: 0 5px 0 0;
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.widget-container {
  max-width: 300px;
  min-width: 300px;
  position: fixed;
  top: 20px;
  left: 20px;
  padding: 15px;
  border: 1px solid #444;
  border-radius: 10px;
  background-color: #333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h2 {
  margin: 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #444;
}

.featured-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 15px;
  padding: 10px;
  cursor: pointer;
  background: #444;
  border-radius: 8px;
  transition: background 0.3s;
  color: white;
}

.featured-item:hover {
  background: #555;
}

.featured-item img {
  width: 30px;
  height: 50px;
  margin-right: 10px;
  border-radius: 50%;
}

.featured-item-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.featured-item-content h3 {
  margin: 0 0 5px;
  font-size: 16px;
}

.featured-item-content p {
  margin: 0;
  font-size: 14px;
  color: #aaa;
}